---
layout: page
title: Authors
permalink: /authors/
---

{% for author in site.data.authors  %}

 <a href="http://twitter.com/{{ author[1]["twitter"] }}"> 
  <h3 id="{{ author[1]["name"] }}">Posts by <img src="{{ author[1]["pic"] }}" style="height:60px;border-radius:30px;"/> <b>{{ author[1]["name"] }}</b></h3>
 </a>
   
  {% assign posts = site.posts | where: "author", author[0] %}
<ul class="post-list"> 
    {% for post in posts %}
               <li>
      <div class="postLink">
        <img src="{{ site.baseurl }}{{ post.heropic }}" />
        <div class="details">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div>
              Tags:
                {% for category in post.categories %}
                  <a href="{{ site.baseurl }}/tags#{{ category }}"> {{ category }} </a>
                {% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
    </ul>

{% endfor %}