---
layout: default
---

<div class="home">

  <h2 class="page-subtitle">Welcome to the official blog of the Clockwork game development platform. Here you will find some resources to help you make awesome games!</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <div class="postLink">
        <img src="{{ site.baseurl }}{{ post.heropic }}" />
        <div class="details">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div>
              Tags:
                {% for category in post.categories %}
                  <a href="{{ site.baseurl }}/tags#{{ category }}"> {{ category }} </a>
                {% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

</div>