---
layout: page
title: Packages
permalink: /packages/
showHeader: true
---

These posts will teach you how to use some of the most popular Clockwork packages:

<ul class="post-list"> 
  {% for post in site.posts %}
  {% if post.categories contains "packages" %}
 <li>
      <div class="postLink">
        <img src="{{ site.baseurl }}{{ post.heropic }}" />
        <div class="details">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div>
              Tags:
                {% for category in post.categories %}
                  <a href="{{ site.baseurl }}/tags#{{ category }}"> {{ category }} </a>
                {% endfor %}
          </div>
        </div>
      </div>
    </li>
  {% endif %}
  {% endfor %}
</ul>