---
layout: page
title: Tags
permalink: /tags/
---
{% for category in site.categories %}
  <h3 id="{{ category | first }}">Posts tagged <b>{{ category | first }}</b></h3> 
<ul class="post-list"> 
    {% for posts in category %}
      {% for post in posts %}
      {% if post.title %}
 <li>
      <div class="postLink">
        <img src="{{ site.baseurl }}{{ post.heropic }}" />
        <div class="details">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div>
              Tags:
                {% for category in post.categories %}
                  <a href="{{ site.baseurl }}/tags#{{ category }}"> {{ category }} </a>
                {% endfor %}
          </div>
        </div>
      </div>
    </li>
      {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
{% endfor %}