---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header-pretty" style="background-image:url('{{ site.baseurl }}{{ page.heropic }}');">
    <div class="post-header-content">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><img src="{{ author.pic }}" style="height:40px;border-radius:20px;margin-left:30px;"/> <a href="{{ site.baseurl }}/authors#{{ author.name }}"><span itemprop="name">{{ author.name }}</span></a>
        (<a href="http://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>)</span>{% endif %}</p>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="categories">
    Tags: {% for category in page.categories %}
    <a href="{{ site.baseurl }}/tags#{{ category }}"> {{ category }} </a> {% endfor %}
  </div>

</article>